#submit1 {
	top: 0px;
}

.block-params {
	height: 180px;
	width: 200px;
	background-color: lightgrey;
	text-align: center;
	padding-top: 20px;
	border: solid;
	display: inline-block; 
	float: left;
	margin: 20px;
}

select {
	position: relative;
	float: right;
	top: 0px;
	margin-right: 2em;
	height: 2.5em;
}

input {
	float: right;
	margin-right: 170px;
}

p {
	line-height: 1em;
	text-align: center;
	vertical-align: middle;
}